{% extends 'base.html.twig' %}
{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
    <table border="1px">
        <thead>
        <tr>
            <th colspan="2">My Lucky Number</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>My number is:</td>
            <td>{{ number }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
